<div class="nav">
	<div>Komis<span class="logo">Telefoniczny</span></div>
	<div><%= link_to "Strona Główna", "/app/index" %></div>
	<% if session[:logged_in]==true %>
	<div><%= link_to "Dodaj ogłoszenie", "/app/add" %></div>
	<div><%= link_to "Twoje ogłoszenia", "/app/twojeogloszenia"%></div>
	<div class="username"><%= session[:current_user_name] %></div>
	<div class="wyloguj"><%= link_to "Wyloguj", "/app/logout"%></div>
	
	
	<% end %>
	<% if session[:logged_in]!=true %>
	<div><%= link_to "Zaloguj się", "/app/login"%></div>
	<div><%= link_to "Zarejestruj się", "/app/register"%></div>
	<% end %>
</div>

<div class="search">
	<%= form_with url: "/app/index", method: :get do |form| %>
	<span class="form_field"><%= form.label :search, "Szukana fraza: " %>
	<%= form.text_field :search, value: @frazaprz %></span>
	
	Cena: od <%= form.number_field :cenamin, value: @cenamin, step:0.01, class: "szukaj_cena" %>
	do <%= form.number_field :cenamax, value: @cenamax, step:0.01, class: "szukaj_cena" %> [PLN]
	
	<%= form.submit "Szukaj" %>
	<% end %>
</div>


<div class="podglad_lista">
	<% @lista.each do |telefon| %>
		<div class="podglad_container">
			<div class="podglad_left">
				<img src="data:image/png;base64, <%= telefon.zdjecie %>"/>
			</div>
			<div class="podglad_right">
				<ul>
					<li>Model: <%= telefon.nazwa %></li>
					<li>Producent: <%= telefon.producent %></li>
					<li>Cena: <%= telefon.cena %> [PLN]</li>
					<li>Wymiary ekranu: <%= telefon.ekran %> [cal]</li>
					<li>Pamięć RAM: <%= telefon.ram %> [GB]</li>
					<li>Pamięć wewnętrzna: <%= telefon.pamiec %> [GB]</li>
				</ul>
				<p class="podglad_wiecej"><%= link_to "Pokaż Więcej...", url_options = {controller:"app", action: "telefon", id: telefon.id}, target:"_blank" %><p>
			</div>
		</div>
	<% end %>
</div>

<div class="footer">Adrian Hałys 2023</div>
