<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
<h1>Index</h1>
<h2><%= @username %></h2>
<div>
	<div><%= link_to "index", "/app/index" %></div>
	<div><%= link_to "add", "/app/add" %></div>
	<div><%= link_to "login", "/app/login"%></div>
	<div><%= link_to "register", "/app/register"%></div>
</div>
<%= @dupa =%>
</body>
</html>
