<div class="nav" style="border-bottom:1px solid navy;">
	<div>Komis<span class="logo">Telefoniczny</span></div>
	<div><%= link_to "Strona Główna", "/app/index" %></div>
	<% if session[:logged_in]==true %>
	<div><%= link_to "Dodaj ogłoszenie", "/app/add" %></div>
	<div><%= link_to "Twoje ogłoszenia", "/app/twojeogloszenia"%></div>
	<div class="username"><%= session[:current_user_name] %></div>
	<div class="wyloguj"><%= link_to "Wyloguj", "/app/logout"%></div>
	<% end %>
	<% if session[:logged_in]!=true %>
	<div><%= link_to "Zaloguj się", "/app/login"%></div>
	<div><%= link_to "Zarejestruj się", "/app/register"%></div>
	<% end %>
</div>
<div class="formularz_container">
<h1>Logowanie</h1>
<%= form_with url: "/app/loginaction", method: :post do |form| %>
<%= form.label :login, "Login " %><br />
<%= form.text_field :login %><br />
<%= form.label :password, "Hasło " %><br />
<%= form.password_field :password %><br />
<%= form.submit "Zaloguj" %>
<% end %>
</div>

<div class="footer">Adrian Hałys 2023</div>
