<div class="nav" style="border-bottom:1px solid navy;">
	<div>Komis<span class="logo">Telefoniczny</span></div>
	<div><%= link_to "Strona Główna", "/app/index" %></div>
	<% if session[:logged_in]==true %>
	<div><%= link_to "Dodaj ogłoszenie", "/app/add" %></div>
	<div><%= link_to "Twoje ogłoszenia", "/app/twojeogloszenia"%></div>
	<div class="username"><%= session[:current_user_name] %></div>
	<div class="wyloguj"><%= link_to "Wyloguj", "/app/logout"%></div>
	<% end %>
	<% if session[:logged_in]!=true %>
	<div><%= link_to "Zaloguj się", "/app/login"%></div>
	<div><%= link_to "Zarejestruj się", "/app/register"%></div>
	<% end %>
</div>
<div class="search">
	<p>Twoje ogłoszenia</p>
</div>
<div class="podglad_lista">
	<% @telefony.each do |telefon| %>
		<div class="podglad_container">
			<div class="podglad_left">
				<img src="data:image/png;base64, <%= telefon.zdjecie %>"/>
			</div>
			<div class="podglad_right">
				<ul>
					<li>Model: <%= telefon.nazwa %></li>
					<li>Producent: <%= telefon.producent %></li>
					<li>Cena: <%= telefon.cena %></li>
					<li>Wymiary ekranu: <%= telefon.ekran %></li>
					<li>Pamięć RAM: <%= telefon.ram %></li>
					<li>Pamięć wewnętrzna: <%= telefon.pamiec %></li>
				</ul>
				<span class="ogloszenia_akcja"><%= link_to "Szczegóły", url_options={controller:"app", action: "telefon", id: telefon.id}, target:"_blank" %></span>
				<span class="ogloszenia_akcja"><%= link_to "Usuń", controller:"app", action: "usun", id: telefon.id %></span>
				<span class="ogloszenia_akcja"><%= link_to "Modyfikuj", controller:"app", action: "modyfikuj", id: telefon.id %></span>
			</div>
		</div>
	<% end %>
</div>
<div class="footer">Adrian Hałys 2023</div>
